<!DOCTYPE HTML>

<html>

<head>

    <title> DHIRAJ KAFLE </title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../../assets/css/main.css" />

    <link rel="icon" href="../../images/avatar.png" type="image/x-icon">
    <link rel="shortcut icon" href="../../images/avatar.png" type="image/x-icon">

    <noscript>
        <link rel="stylesheet" href="../../assets/css/noscript.css" />
    </noscript>


    <style>
        pre {
            background-color: #f4f4f4;
            /* padding: 5px; */
            overflow: auto;

        }

        code {
            font-family: "SFMono-Regular", "Menlo", "Consolas", "PT Mono", "Liberation Mono", Courier, monospace;
            /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
            /* font-family: Arial, Helvetica, sans-serif; */
            font-weight: 600;
            font-size: small;
            display: block;
            /* padding: 5px; */
            color: #272727;

        }
    </style>

</head>


<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a href="../../cv/cv.pdf" class="logo" target="_blank"> View CV </a>
        </header>

        <!-- Nav -->
        <nav id="nav">

            <ul class="links">
                <!-- <li><a href="../../index.html"> Projects </a></li> -->
                <li><a href="../.."> Projects </a></li>

                <li><a href="../skills.html"> Skills </a></li>
                <li><a href="../about.html"> About </a></li>
                <li class="active"><a href="." style="pointer-events: none"> Detail </a></li>
            </ul>

        </nav>


        <!-- Main -->
        <div id="main">

            <!-- Post -->
            <section class="post">

                <p style="text-align: right; padding: 0 0 0rem 0; margin: 0 0 0rem 0;">
                    <a href="https://github.com/47dhiraj/Data-Pipeline-with-Python-Docker-DBT-Airflow"
                        class="icon brands fa fa-github fa-2x" target="_blank"><span class="label">GitHub</span>
                    </a>
                </p>

                <header class="major">

                    <!-- <span class="date">December 20, 2023</span> -->

                    <h1>
                        ELT Data Pipeline <br />
                    </h1>

                    <p>
                        using Python, DBT, <br />
                        Airflow & Docker <br />
                    </p>

                </header>


                <div class="image main"><img src="../../images/projects/features/data_pipeline.png" alt="Detail Image" />
                </div>


                <p style="text-align: center;">

                    Used <b> Python Language </b> to write <b> ELT script </b>.<br />

                    Used <b> Data Build Tool(DBT) </b> to <b> Transform the Data </b>.<br />

                    Used <b>Apache Airflow </b> to <b>streamline</b> & <b>automate</b> complex tasks.<br />

                    Implemented <b> Docker </b> to <b> containerize </b> the application.<br />

                    <b> PostgreSQL </b> to <b> store </b> both <b> raw & transformed data</b>.<br />

                </p>


                <h4>Python ELT script code 🚀 </h4>
                <pre>

                    <code style="line-height: 1.8;">


                        import subprocess
                        import time


                        # Configuration for the source PostgreSQL database
                        source_config = {
                            'dbname': 'source_db',
                            'user': 'postgres',
                            'password': 'secret',
                            'host': 'source_postgres'        
                        }

                        # Configuration for the destination PostgreSQL database
                        destination_config = {
                            'dbname': 'destination_db',
                            'user': 'postgres',
                            'password': 'secret',
                            'host': 'destination_postgres'  
                        }


                        # Command to check if the data already in destination_db or not
                        check_destination_db_tables = [
                            'psql',
                            '-h', destination_config['host'],
                            '-U', destination_config['user'],
                            '-d', destination_config['dbname'], 
                            '-c', "SELECT EXISTS (SELECT 1 FROM public.users LIMIT 1);"     
                        ]

                        # Set the PGPASSWORD environment variable for the source & destination database 
                        source_pwd = dict(PGPASSWORD=source_config['password'])
                        destination_pwd = dict(PGPASSWORD=destination_config['password'])

                        # Execute the command to check if table/data in source_db & destination_db
                        destination_db_result = subprocess.run(check_destination_db_tables, env=destination_pwd, capture_output=True, text=True)


                        if destination_db_result.returncode != 0:

                            print("Destination Database is Empty!! Initiate executing ELT script ...")

                            # Use postgres ibuilt 'pg_dump' command to dump source database data to a .sql file
                            dump_command = [
                                'pg_dump',
                                '-h', source_config['host'],
                                '-U', source_config['user'],
                                '-d', source_config['dbname'],
                                '-f', 'data_dump.sql',
                                '-w'                    # -w flag, do not prompt for password
                            ]

                            # Executing dump_command using subprocess.run()
                            subprocess.run(dump_command, env=source_pwd, check=True)


                            # Use psql to load the dumped SQL file into the destination database
                            load_command = [
                                'psql',
                                '-h', destination_config['host'],
                                '-U', destination_config['user'],
                                '-d', destination_config['dbname'],
                                '-a', '-f', 'data_dump.sql'
                            ]


                            # Execute the load command
                            subprocess.run(load_command, env=destination_pwd, check=True)

                            print("Successfully finished loading data into destination database ...")


                        elif destination_db_result.returncode == 0:
                            print("There may already have data inside the destination_db table OR Database connectivity issue.")

                            
                    </code>


                </pre>




                <h4>Airflow code 🚀 </h4>
                <pre>

                    <code style="line-height: 1.8;">

                        from datetime import datetime, timedelta                            
                        from airflow import DAG                                      
                        from docker.types import Mount                                    

                        from airflow.operators.python_operator import PythonOperator        
                        from airflow.operators.bash import BashOperator                    
                        from airflow.providers.docker.operators.docker import DockerOperator    

                        import subprocess                                        


                        # default configuration options for DAG
                        default_args = {
                            'owner': 'airflow',
                            'depends_on_past': False,                
                            'email_on_failure': False,
                            'email_on_retry': False,
                            # 'retries': 1,                             
                            # 'retry_delay': timedelta(minutes=3),          
                        }


                        # function to run the elt_script.py
                        def run_elt_script():
                            script_path = "/opt/airflow/elt_script/elt_script.py"           
                            result = subprocess.run(["python", script_path], capture_output=True, text=True)

                            if result.returncode != 0:
                                raise Exception(f"ELT Script failed with error: {result.stderr}")
                            else:
                                print(result.stdout)



                        # Creating/Declaring a DAG object
                        dag = DAG(
                            'elt_and_dbt',                            
                            default_args=default_args,              
                            description='An ELT workflow with dbt',  
                            start_date=datetime(2024, 2, 13),       
                            catchup=False,                             
                        )



                        # Setting our first task t1 (i.e To run elt_script.py from docker container)
                        t1 = PythonOperator(                           
                            task_id='run_elt_script',                   
                            python_callable=run_elt_script,            
                            dag=dag,                              
                        )


                        # setting 2nd task t2 (i.e To run 'DBT' from docker container)
                        t2 = DockerOperator(                               
                            task_id='dbt_run',                              
                            image='ghcr.io/dbt-labs/dbt-postgres:1.4.7',    
                            command=[                                 
                                "run",
                                "--profiles-dir",
                                "/root",
                                "--project-dir",
                                "/dbt",
                                "--full-refresh"
                            ],
                            auto_remove=True,                               
                            docker_url="unix://var/run/docker.sock",        
                            network_mode="bridge",
                            mounts=[                                        
                                Mount(source='/home/dhiraj/Desktop/data-pipeline-with-python-dbt-airflow/data_transformations', target='/dbt', type='bind'),
                                Mount(source='/home/dhiraj/.dbt', target='/root', type='bind'),
                            ],
                            dag=dag                                        
                        )



                        # Task dependencies for execution of all DAG tasks in Order
                        t1 >> t2


                    </code>

                </pre>


            </section>

        </div>


        <!-- Footer -->
        <footer id="footer">

            <section class="split contact">

                <section class="alt">
                    <h3 style="color: #53595f;">Address</h3>
                    <p style="color: #4b4847;">Maitidevi<br />
                        Kathmandu, Nepal</p>
                </section>

                <section>
                    <h3 style="color: #53595f;">Phone</h3>
                    <p><a href="#" style="color: #4b4847;"> +977 9847122181 </a></p>
                </section>

                <section>
                    <h3 style="color: #53595f;">Email</h3>
                    <p><a href="#" style="color: #4b4847;">dhirajkafle553@gmail.com</a></p>
                </section>

                <section>
                    <h3 style="color: #53595f;">Social</h3>

                    <ul class="icons alt">
                        <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
                        </li>
                        <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
                        </li>
                        <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                    </ul>

                </section>

            </section>


            <section>

                <form method="post" action="#">

                    <div class="fields">
                        <div class="field">
                            <label for="name" style="color: #53595f;">Name</label>
                            <input type="text" name="name" id="name" />
                        </div>
                        <div class="field">
                            <label for="email" style="color: #53595f;">Email</label>
                            <input type="text" name="email" id="email" />
                        </div>
                        <div class="field">
                            <label for="message" style="color: #53595f;">Message</label>
                            <textarea name="message" id="message" rows="3"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" disabled /></li>
                    </ul>

                </form>

            </section>


        </footer>


        <!-- Copyright -->
        <div id="copyright">
            <ul>
                <li>&copy; 2023 - Dhiraj-TheDataEngineer</li>
            </ul>
        </div>

    </div>

    <!-- Scripts -->
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/jquery.scrollex.min.js"></script>
    <script src="../../assets/js/jquery.scrolly.min.js"></script>
    <script src="../../assets/js/browser.min.js"></script>
    <script src="../../assets/js/breakpoints.min.js"></script>
    <script src="../../assets/js/util.js"></script>

    <script src="../../assets/js/main.js"></script>

</body>

</html>