<!DOCTYPE HTML>

<html>

<head>
    <title>DHIRAJ KAFLE</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />

    <link rel="stylesheet" href="../assets/css/skills.css" />

    <link rel="icon" href="../images/avatar.png" type="image/x-icon">
    <link rel="shortcut icon" href="../images/avatar.png" type="image/x-icon">

    <noscript>
        <link rel="stylesheet" href="../assets/css/noscript.css" />
    </noscript>

</head>


<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Intro -->
        <div id="intro">

            <h1> DHIRAJ KAFLE <br /> </h1>
            
			<p> A Data Enginner & a constatnt learner, skilled in creating Data Pipeline using Python, DBT, Docker,
				Airflow and more.<a href="https://github.com/47dhiraj" target="_blank"></a>
				</br> @Dhiraj_DataEngineer
			</p> 

            <ul class="actions">
                <li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
            </ul>
        </div>

        <!-- Header -->
        <header id="header">
            <a href="../cv/cv.pdf" class="logo" target="_blank"> View CV </a>
        </header>

        <!-- Nav -->
        <nav id="nav">

            <ul class="links">
                <!-- <li><a href="../index.html"> Projects </a></li> -->
                <li><a href=".."> Projects </a></li>

                <li class="active"><a href="." style="pointer-events: none"> Skills </a></li>
                <li><a href="about.html"> About </a></li>
            </ul>

            <ul class="icons">
                <li><a href="https://www.linkedin.com/in/dhiraj-kafle-4a19781a3/" class="icon brands fa-linkedin"
                        target="_blank"><span class="label">Linkedin</span></a></li>
                <li><a href="https://github.com/47dhiraj" class="icon brands fa-github" target="_blank"><span
                            class="label">GitHub</span></a></li>
            </ul>
        </nav>


        <!-- Main -->
        <div id="main">

            <!-- </br> -->

            <!-- Posts -->
            <section class="posts">

                <article
                    style="padding: 1rem; border-color: #dad3d3; border-bottom-width: 2px; border-right-width: 2px;">

                    <header>
                        <h2> Data Engineering Skills </h2>
                    </header>

                    <div class="skill-container">

                        <div style="text-align: center;">
                            <a style="text-decoration: none; border-bottom-color: #fff;"
                                href="https://github.com/47dhiraj?tab=repositories&q=python&type=&language=&sort="
                                target="_blank">
                                <img title="Python" src="../images/skills/python.svg" alt="Python" class="skill-item" />
                            </a>
                        </div>

                        <div style="text-align: center;">
                            <a style="text-decoration: none; border-bottom-color: #fff;"
                                href="https://github.com/47dhiraj?tab=repositories&q=pandas&type=&language=&sort="
                                target="_blank">
                                <img title="Pandas" src="../images/skills/pandas.svg" alt="Pandas" class="skill-item" />
                            </a>
                        </div>

                        <div style="text-align: center;">
                            <a style="text-decoration: none; border-bottom-color: #fff;"
                                href="https://github.com/47dhiraj?tab=repositories&q=sql&type=&language=&sort="
                                target="_blank">
                                <img title="SQL" src="../images/skills/sql.svg" alt="SQL" class="skill-item" />
                            </a>
                        </div>

                        <div style="text-align: center;">
                            <a style="text-decoration: none; border-bottom-color: #fff;"
                                href="https://github.com/47dhiraj?tab=repositories&q=jupyter&type=&language=&sort="
                                target="_blank">
                                <img title="Jupyter" src="../images/skills/jupyter.svg" alt="Jupyter"
                                    class="skill-item" />
                            </a>
                        </div>

                        <div style="text-align: center;">
                            <a style="text-decoration: none; border-bottom-color: #fff;"
                                href="https://github.com/47dhiraj?tab=repositories&q=dbt&type=&language=&sort="
                                target="_blank">
                                <img title="DBT" src="../images/skills/dbt.svg" alt="Data Build Tool DBT"
                                    class="skill-item" />
                            </a>
                        </div>


                        <div style="text-align: center;">
                            <a style="text-decoration: none; border-bottom-color: #fff;"
                                href="https://github.com/47dhiraj?tab=repositories&q=Airflow&type=&language=&sort="
                                target="_blank">
                                <img title="Airflow" src="../images/skills/airflow.svg" alt="Airflow"
                                    class="skill-item" />
                            </a>
                        </div>



                    </div>


                </article>


                <article
                    style="padding: 1rem; border-color: #dad3d3; border-bottom-width: 2px; border-left-width: 2px;">

                    <header>
                        <h2> TOOLS / PLATFORMS </h2>

                        <!-- <h2> Web Skills </h2> -->
                    </header>

                    <div class="skill-container">
                        
                        <div style="text-align: center;">
                            <a style="text-decoration: none; border-bottom-color: #fff;"
                                href="https://github.com/47dhiraj?tab=repositories&q=git&type=&language=&sort="
                                target="_blank">
                                <img title="Git" src="../images/skills/git.svg" alt="Git" class="skill-item" />
                            </a>
                        </div>

                        <div style="text-align: center;">
                            <a style="text-decoration: none; border-bottom-color: #fff;"
                                href="https://github.com/47dhiraj?tab=repositories&q=postgres&type=&language=&sort="
                                target="_blank">
                                <img title="Postgres" src="../images/skills/postgres.svg" alt="Postgres" class="skill-item" />
                            </a>
                        </div>

                        <div style="text-align: center;">
                            <a style="text-decoration: none; border-bottom-color: #fff;"
                                href="https://github.com/47dhiraj?tab=repositories&q=snowflake&type=&language=&sort="
                                target="_blank">
                                <img title="Snowflake" src="../images/skills/snowflake.svg" alt="Snowflake" class="skill-item" />
                            </a>
                        </div>

                        <div style="text-align: center;">
                            <a style="text-decoration: none; border-bottom-color: #fff;"
                                href="https://github.com/47dhiraj?tab=repositories&q=docker&type=&language=&sort="
                                target="_blank">
                                <img title="Docker" src="../images/skills/docker.svg" alt="Docker" class="skill-item" />
                            </a>
                        </div>


                        <div style="text-align: center;">
                            <a style="text-decoration: none; border-bottom-color: #fff;"
                                href="https://github.com/47dhiraj?tab=repositories&q=dbeaver&type=&language=&sort="
                                target="_blank">
                                <img title="DBeaver" src="../images/skills/dbeaver.svg" alt="DBeaver"
                                    class="skill-item" />
                            </a>
                        </div>

                        <div style="text-align: center;">
                            <a style="text-decoration: none; border-bottom-color: #fff;"
                                href="https://github.com/47dhiraj?tab=repositories&q=linux&type=&language=&sort="
                                target="_blank">
                                <img title="Linux" src="../images/skills/linux.svg" alt="Linux" class="skill-item" />
                            </a>
                        </div>


                        <div style="text-align: center;">
                            <a style="text-decoration: none; border-bottom-color: #fff;"
                                href="https://github.com/47dhiraj?tab=repositories&q=jira&type=&language=&sort="
                                target="_blank">
                                <img title="Jira" src="../images/skills/jira.svg" alt="Jira" class="skill-item" />
                            </a>
                        </div>

                        <div style="text-align: center;">
                            <a style="text-decoration: none; border-bottom-color: #fff;"
                                href="https://github.com/47dhiraj?tab=repositories&q=vsc&type=&language=&sort="
                                target="_blank">
                                <img title="VSCode" src="../images/skills/vsc.svg" alt="VSCode" class="skill-item" />
                            </a>
                        </div>

                    </div>

                </article>

            </section>


        </div>

        </br>


        <!-- Footer -->
        <footer id="footer">

            <section class="split contact">

                <section class="alt">
                    <h3 style="color: #53595f;">Address</h3>
                    <p style="color: #4b4847;">NEPAL<br />
                    </p>
                </section>

                <section>
                    <h3 style="color: #53595f;">Phone</h3>
                    <p><a href="#" style="color: #4b4847;"> +977 9747474747 </a></p>
                </section>

                <section>
                    <h3 style="color: #53595f;">Email</h3>
                    <p><a href="#" style="color: #4b4847;">dhirajkafle553@gmail.com</a></p>
                </section>

                <section>
                    <h3 style="color: #53595f;">Social Platforms</h3>

                    <ul class="icons alt">
                        <li><a href="https://www.facebook.com/dhirajkafle553/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
                        </li>
                        <li><a href="https://www.instagram.com/dhirajkafle47/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
                        </li>
                    </ul>

                </section>

            </section>


            <section>

                <form method="post" action="#">

                    <div class="fields">
                        <div class="field">
                            <label for="name" style="color: #53595f;">Name</label>
                            <input type="text" name="name" id="name" />
                        </div>
                        <div class="field">
                            <label for="email" style="color: #53595f;">Email</label>
                            <input type="text" name="email" id="email" />
                        </div>
                        <div class="field">
                            <label for="message" style="color: #53595f;">Message</label>
                            <textarea name="message" id="message" rows="3"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" disabled /></li>
                    </ul>

                </form>

            </section>


        </footer>


        <!-- Copyright -->
        <div id="copyright">
            <ul>
                <li>&copy; 2023 - Dhiraj-TheDataEngineer</li>
                <!-- <li>Designer: <a href="#"></a></li> -->
            </ul>
        </div>

    </div>





    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <script src="../assets/js/browser.min.js"></script>
    <script src="../assets/js/breakpoints.min.js"></script>

    <script src="../assets/js/util.js"></script>

    <script src="../assets/js/main.js"></script>

</body>

</html>